@import '../../node_modules/bootstrap/scss/bootstrap.scss'; // I use bootstrap as a module

#view-container {
   min-height: 100vh;
}

.row-centered {
   display: flex;
   min-height: 100vh;
   justify-content: center;
   align-items: center;
}
// #note-content {
//     min-height: 60vh;
// }

// #note-editor-btn {
//     background-color:
// }

#enter-button {
    width: 50%;
    font-size: 1.25rem;
}